<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<runtime>
		<gcConcurrent enabled="true" />
		<gcServer enabled="false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Flurl" publicKeyToken="1308302a96879dfb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
	</appSettings>
	<log4net>
		<appender name="Console" type="Console.AnaximanderAppender, Console">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{HH:mm:ss} - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Anaximander.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="0" />
			<maximumFileSize value="50MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="RollbarAppender" type="log4net_RollbarNET.RollbarAppender, log4net.RollbarNET">
			<param name="AccessToken" value="dcc629680c504cff84c6cb453d4a9f09" />
			<param name="Environment" value="development" />
			<threshold value="ERROR" />
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollbarAppender" />
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
</configuration>