<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chattel" version="1.4.0.52" targetFramework="net461" />
  <package id="Chattel-AssetTools" version="1.4.0.52" targetFramework="net461" />
  <package id="CSJ2K" version="2.0.0.1" targetFramework="net45" />
  <package id="Flurl.Http.Signed" version="0.7.0" targetFramework="net45" />
  <package id="Flurl.Signed" version="2.3.0" targetFramework="net45" />
  <package id="InWorldz.Whip.Client" version="1.1.0.6" targetFramework="net461" />
  <package id="LibreMetaverse" version="1.2.1.151" targetFramework="net461" />
  <package id="LibreMetaverse.StructuredData" version="1.2.1.151" targetFramework="net461" />
  <package id="LibreMetaverse.Types" version="1.2.1.151" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Marvin.JsonPatch.Signed" version="0.7.0" targetFramework="net45" />
  <package id="Nancy" version="1.4.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="openstack.net" version="1.7.7" targetFramework="net45" />
  <package id="protobuf-net" version="2.3.3" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net461" />
  <package id="Trove.Nini" version="1.1.0.0" targetFramework="net45" />
  <package id="XmlRpcCs" version="2.1.1.2" targetFramework="net461" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net45" />
  <package id="zlib.net-mutliplatform" version="1.0.4" targetFramework="net461" />
</packages>