<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSJ2K" version="2.0.0.1" targetFramework="net45" />
  <package id="log4net" version="2.0.7" targetFramework="net45" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="OpenMetaverse" version="0.9.3.3318" targetFramework="net45" />
  <package id="OpenMetaverse.StructuredData" version="0.9.3.3318" targetFramework="net45" />
  <package id="OpenMetaverseTypes" version="0.9.3.3318" targetFramework="net45" />
  <package id="Trove.Nini" version="1.1.0.0" targetFramework="net45" />
</packages>