<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<runtime>
		<gcConcurrent enabled="true" />
		<gcServer enabled="false" />
	</runtime>
	<appSettings>
	</appSettings>
	<log4net>
		<appender name="RollbarAppender" type="log4net_RollbarNET.RollbarAppender, log4net.RollbarNET">
			<param name="AccessToken" value="dcc629680c504cff84c6cb453d4a9f09" />
			<param name="Environment" value="development" />
			<param name="Asynchronous" value="false" />
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollbarAppender" />
		</root>
	</log4net>
</configuration>